<head>
    
</head>
<!--

 -->
<body>
 <h1>
    placeholder
</h1>
    <div = "header">
        <div = "logo">
            <div = "options">
                <div = "gamesButton">
                <button>
                    Games 
                </button>
                </div>
                <div = "links">
                <button>
                    Links
                </button>
                </div>
                </div>
            </div>
    </div>
    <div = "games">
        <button = "game1">
            <a href = "">
            </a>
        <button = "game2">
            <a href = "">
            </a>
        </button>
        <button = "game3">
            <a href = "">
            </a>
        </button>
        <button = "game4">
            <a href = "">
            </a>
        </button>
        <button = "game5">
            <a href = "">
            </a>
        </button>
    </div>
</body>
<link rel= "stylesheet" href="style.css">
<script src = "javascript.js"></script>